@import "./bootstrap.min.css";

.container {
  max-width: 1393px;
  margin: 0 auto;
  padding: 0 20px;
}
body {
  background-color: rgba(255, 250, 245, 1);
  /* height: 1240px;
  width: 1240px; */
}

header {
  background-color: rgba(255, 250, 245, 1);
  height: 80px;
}

.nav {
  height: 80px;
}
.img-1 {
  width: 177px;
  height: 42px;
  margin: 0px 0px 0px 0px;
}

.color-1 {
  background-color: #b6bbc4;
}

.color-2 {
  color: rgba(36, 20, 0, 1);
}

.mor-1 {
  margin: 30px;
}

.mor-2 {
  margin: 10px 0px 0px 0px;
}

.wize-1 {
  height: 280px;
}

.morg-3 {
  width: 290px;
  /* height: 14px; */
  background-color: #fffaf5;
  border: 2px solid #fffaf5;
}

.mor-4 {
  width: 130px;
  height: 44px;
  background-color: #fffaf5;
  border: 2px solid #fffaf5;
}

.mr-1 {
  margin: 0px 0px 0px 70px;
}

.mr-2 {
  margin: 0px 0px 0px -25px;
}

.mr-3 {
  margin: 0px 101px 0px -25px;
}

.mr-4 {
  margin: 0px 102px 0px 0px;
}

.mr-5 {
  margin: 0px 18px 0px 0px;
}

.mr-6 {
  font-size: 36px;
  margin: 248px 0px 0px 0px;
}

.img-2 {
  margin: 97px 0px 0px 232px;
}
.tx-1 {
  color: #ffffff;
  margin: 16px 0px 0px 0px;
  box-shadow: rgba(225, 106, 0, 1) 0px 5px 20px;
}

.coler-3 {
  color: rgba(36, 20, 0, 1);
}

.text-1 {
  font-size: 25px;
  margin: 75px 0px 0px 0px;
}

.text-2 {
  font-size: 16px;
  margin: 87px 0px 0px 50px;
}

.text-3 {
  font-size: 16px;
  margin: 87px 0px 0px 100px;
}

.mr-7 {
  margin: 50px 0px 0px 0px;
}

.card-1 {
  width: 184.32px;
  height: 352px;
  background-color: #fff;
  border: 2px solid #fff;
  transition: all 0.5s;
}

.card-1:hover {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.card-2 {
  width: 184.32px;
  height: 352px;
  background-color: #fff;
  border: 2px solid #fff;
  transition: all 0.5s;
  margin: 0px 0px 0px 62px;
}

.card-2:hover {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.img-3 {
  margin: 25px 0px 0px 25px;
}

.text-4 {
  font-size: 18px;
  font-weight: 700;
  line-height: 35px;
  margin: 2px 0px 0px 25px;
}

.text-5 {
  font-size: 12px;
  font-weight: 700;
  margin: 5px 0px 0px 25px;
}

.text-6 {
  font-size: 12px;
  font-weight: 400;
  margin: -4px 0px 0px 25px;
}
